body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Change this to your desired background color */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
